@model IEnumerable<SoccerRegistrationSystem.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Player List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.YearsExperience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementarySchool)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GuardianName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>

    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearsExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElementarySchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuardianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
